:root{
    --corpadrao:rgb(218,133,8);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
    
}
header{
    max-width: 100%;
    background-color: white; 
    display:flex;
    flex-wrap: wrap;
    border: 10px groove;
    border-color: var(--corpadrao);
}
.menu{
    width: 50%;
    padding: 25px 15;
    text-align: right;
}

header ul  a{
    color: black;
    text-decoration: none;
    text-shadow: 1px 0px ; 
    font-size: 16px; 
    border: solid 2px black;
    padding: 2px;
}
header ul  a:hover{
    background-color:var(--corpadrao);
}
.msgheader{
    width: 40%;
   text-align: center;
    margin: 0 auto;
    padding: 25 10;
    font-size: 20px;
    text-shadow: 1px 0px;
    color: rgb(38, 37, 37);
   
}
.logo{
    width: 10%;
    padding: 10px;
  
}


.banner{
    max-width: 100%;
    margin-top: 3px;
    background-color: black;
    text-align: center;
    border: 15px outset;
    border-color: rgb(218,133,8)  rgb(155, 94, 2)  rgb(155, 94, 2)  rgb(218,133,8) ;
}
.link_video{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    
    
}
.link_video a{
    text-decoration: none;
    font-size: 15px;
}
.link_video a img{
    width: 30%;
    padding: 0 5px;
}
.link_video p{
    padding: 0 3px;
}
.banner > h1{
    color: var(--corpadrao);
    font-size: 100px;
    text-shadow: 5px 4px 0px;
    width: 90%;
    padding:0 10px;
}
.servicos{
    max-width: 100%;
    padding: 15px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: black;
    margin-top: 10px;
    border: outset 15px var(--corpadrao) ;
    }
.titulo_catalogo{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.titulo_catalogo > h1{
    color:white;
    margin-top: 8px;
    padding: 5px;
    text-shadow: 1px 1px 1px;
    animation-name: titulo_catalogo1;
    animation-duration: 20s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    transform: scale(1.5);
}

@keyframes titulo_catalogo1{
    from{color: white;font-size: 0px;}
    to{color: var(--corpadrao);font-size: 22px;}
}
.barba{
    border: white ridge 7px;
    width: 100%;
    padding: 0 10px;
    margin-top: 20px;
    cursor:pointer;
    transition:transform 1s;
    
    
}
.barba:hover{
    background-color: white;
    transition: 1.5s; 
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.03);
    
    
}
.corte{
    border:ridge;
    margin-top: 15px;
    width: 33.3%;
    cursor:pointer;
    transition:transform 1s;
}
.corte:hover{
    background-color: white;
    transition: 1s; 
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
    
}
.maquina{
    border-style: ridge;
    margin-top: 15px;
    width: 33.3%;
    cursor:pointer;
    transition:transform 1s;
}
.maquina:hover{
    background-color: white; 
    transition: 1s;
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
}
.sobrancelha{
    border-style: ridge;
    margin-top: 15px;
    width: 33.3%;   
    cursor:pointer;
    transition:transform 1s;
}
.sobrancelha img{
    max-width: 100%;
}
.sobrancelha:hover{
    background-color: white; 
    transition: 1s;
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
}
.pigmentacao{
    border-style: ridge;
    margin-top: 10px;
    width: 50%;
    padding: 10px;
    cursor:pointer;
    transition:transform 1s;
}
.pigmentacao:hover{
    background-color: white; 
    transition: 1s;
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
}
.acabamentos{
    border-style: ridge;
    margin-top: 10px;
    width: 50%;
   padding: 10px;
   cursor:pointer;
   transition:transform 1s;
}
.acabamentos:hover{
    background-color: white; 
    transition: 1s;
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
}
h2{
    color: var(--corpadrao);
    margin-bottom: 10px;
}
footer{
    margin: 5 0;
    max-width: 100%;
    border: 5px var(--corpadrao) ridge;
}
footer .w100{
   padding: 4px 5;
   
}
.menuinf{
    text-align: center;
    width: 33%;
}
.w100  h2{
    color: black;
    font-size: 12px;
}
 .w100 .menuinf a:hover{
background-color: red;
}
@media screen and (max-width:1024px){
    header{text-align: center;}
    
    .menu{text-align: center;width: 100%;}
    .banner{border: outset 8px;border-color: rgb(218,133,8)  rgb(155, 94, 2)  rgb(155, 94, 2)  rgb(218,133,8) ;}
    .banner > h1{max-width: 100%; }
   .link_video a img{width: 80%;}

    .servicos{margin-top: 5px; border: outset 8px var(--corpadrao);}
   .servicos .corte{width: 100%;}
   .servicos .maquina{width: 100%;}
   .servicos .sobrancelha{width: 100%;}
   .servicos .pigmentacao{width: 100%;}
   .servicos .acabamentos{width: 100%;}
}