:root{
    --corpadrao:rgb(218,133,8);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
    
}
header{
    max-width: 100%;
    background-color: white; 
    display:flex;
    flex-wrap: wrap;
    border: 10px groove;
    border-color: var(--corpadrao);
}
.menu{
    width: 50%;
    padding: 25px 15;
    text-align: right;
}

header ul  a{
    color: black;
    text-decoration: none;
    text-shadow: 1px 0px ; 
    font-size: 16px; 
    border: solid 2px black;
    padding: 2px;
}
header ul  a:hover{
    background-color:var(--corpadrao);
}
.msgheader{
    width: 40%;
   text-align: center;
    margin: 0 auto;
    padding: 25 10;
    font-size: 20px;
    text-shadow: 1px 0px;
    color: rgb(38, 37, 37);
   
}
.logo{
    width: 10%;
    padding: 10px;
  
}


.banner{
    max-width: 100%;
    margin-top: 3px;
    background-color: black;
    text-align: center;
    border: 15px outset;
    border-color: rgb(218,133,8)  rgb(155, 94, 2)  rgb(155, 94, 2)  rgb(218,133,8) ;
}
.link_video{
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    
    
}
.link_video a{
    text-decoration: none;
    font-size: 15px;
}
.link_video a img{
    width: 30%;
    padding: 0 5px;
}
.link_video p{
    padding: 0 3px;
}
.banner > h1{
    color: var(--corpadrao);
    font-size: 100px;
    text-shadow: 5px 4px 0px;
    width: 90%;
    padding:0 10px;
}
.servicos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 170%;
    margin-bottom: 25px;
    margin-top: 20px;
    border: outset 15px var(--corpadrao) ;
    }
.titulo_catalogo{
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
}
.titulo_catalogo > h1{
    color:white;
    margin-top: 8px;
    padding: 5px;
    text-shadow: 1px 1px 1px;
    animation-name: titulo_catalogo1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform: scale(1.5);
}
@keyframes titulo_catalogo1{
    from{background-color:var(--corpadrao);font-size: 18px;}
    to{background-color: white;color: black;font-size: 22px;}
}
.titulo_catalogo > p{
    margin-top: 5px;
    color: white;
    padding: 5px;
    text-shadow: 1px 1px;
    animation-name: titulo_catalogo2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
   transform: scale(1.5);
}
@keyframes titulo_catalogo2{
    from{background-color:var(--corpadrao);font-size: 10px;}
    to{background-color: white;color: black;font-size: 13px;} 

    
}
.barba{
    border: white ridge 7px;
    width: 97%;
    padding: 10px;
    margin-top: 20px;
    cursor:pointer;
    margin-left: 20px;
    transition:transform 1s;
    
    
}
.barba:hover{
    background-color: white;
    transition: 1.5s; 
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.03);
    
    
}
.corte{
    border:ridge;
    margin-top: 15px;
    width: 30%;
    padding: 10px;
    margin-left: 20px;
    cursor:pointer;
    transition:transform 1s;
}
.corte:hover{
    background-color: white;
    transition: 1s; 
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
    
}
.maquina{
    border-style: ridge;
    margin-top: 15px;
    width: 30%;
    padding: 10px;
    margin-left: 50px;
    cursor:pointer;
    transition:transform 1s;
}
.maquina:hover{
    background-color: white; 
    transition: 1s;
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
}
.sobrancelha{
    border-style: ridge;
    margin-top: 15px;
    width: 30%;
    padding: 10px;
    margin-left: 40px;
    cursor:pointer;
    transition:transform 1s;
}
.sobrancelha:hover{
    background-color: white; 
    transition: 1s;
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
}
.pigmentacao{
    border-style: ridge;
    margin-top: 10px;
    width: 47%;
    padding: 10px;
    cursor:pointer;
    margin-left: 20px;
    transition:transform 1s;
}
.pigmentacao:hover{
    background-color: white; 
    transition: 1s;
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
}
.acabamentos{
    border-style: ridge;
    margin-top: 10px;
    width: 47%;
   padding: 10px;
   cursor:pointer;
   margin-left: 40px;
   transition:transform 1s;
}
.acabamentos:hover{
    background-color: white; 
    transition: 1s;
    border: var(--corpadrao) ridge 7px;
    transform: scale(1.05);
}
h2{
    color: var(--corpadrao);
    margin-bottom: 10px;
}

@media screen and (max-width:1024px){
    header{text-align: center;}
    .menu{text-align: center;width: 100%;}
    .banner > h1{width: 100%; }
    .link_video a img{width: 80%;}

}